*{
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: grid;
  grid-template-columns: 4fr 1.5fr;
  grid-template-rows: 1fr 4fr;
}
.header{
  grid-row: 1/2;
  grid-column: 1/-1;
  background-color: white;
  z-index: 100;
  box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.404);
  display: flex;
  justify-content: start;
  align-items: center;
}
.header h1{
  margin-left: 20px;
  font-size: 3rem;
}

.main{
  grid-row: 2/-1;
  grid-column: 1/2;
  background-color: #e6ebe0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  grid-auto-rows: 150px;
  gap: 30px;
  padding: 30px;
}
.main .add-btn{
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .plus-icon{
  width: 80px;
  height: auto;
  filter: invert(94%) sepia(0%) saturate(0%) hue-rotate(151deg) brightness(84%) contrast(87%);
  transition-duration: 0.2s;
}
.main .plus-icon:hover{
  cursor: pointer;
  filter: invert(72%) sepia(3%) saturate(13%) hue-rotate(59deg) brightness(89%) contrast(99%);
}


.book-info{
  grid-row: 2/-1;
  grid-column: 2/-1;
  background-color: lightgreen;
}